/* Reposivitas Section */

/* Resposivitas mobile */
@media (max-width: 567px) {

    /* Responsivitas Navbar */
    nav {
        height: 190px;
    }

    nav .logo-brand img {
        margin-left: 90px;
        width: 195px;
    }

    nav ul li a {
        display: none;
    }

    .feature-icons {
        position: relative;
        left: 20%;
    }

    .feature-icons i {
        font-size: 70px;
        padding: 19px;
    }

    /* Resposivitas Homepage */
    #home-section {
        min-height: 400vh;
        min-width: 400%;
        background-color: #3C2A1E;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 89px;
        position: relative;
    }

    .caption-home p {
        font-size: 49px;
        width: 80%;
    }

    .caption-home h2 {
        font-size: 6rem;
    }

    .caption-home {
        position: relative;
        bottom: 99px;
        line-height: 1.5;
    }

    .button-home {
        gap: 17px;
    }

    #button-home1 {
        display: inline-block;
        width: 260px;
        font-size: 44px;
        padding: 26px;

    }

    #button-home2 {
        display: inline-block;
        width: 260px;
        font-size: 44px;
        padding: 26px;
    }

    .home-image img {
        display: inline-block;
        width: 700px;
        height: 700px;
        position: relative;
        bottom: 52px;

    }

    .deskrip {
        padding-bottom: 30px;
    }

    .home-image {
        width: 736px;
        height: 734px;
        position: absolute;
        left: 12%;
        top: 20%;

    }

    .caption-home {
        margin-left: 104px;
        position: absolute;
        top: 50%;
    }

    /* Hamburger menu */
    /* hamburger menu sidebar */
    .contain-navbar {
        position: relative;
    }

    .nav-side {
        position: fixed;
        background-color: #855814;
        height: 100%;
        right: 0;
        top: 0;
        display: block;
        width: 850px;
        padding: 32px;
        transition: 0.5s ease-in-out;
        transform: translateX(100%);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }

    .nav-side.active {
        transform: translateX(0);
    }

    .navbar-li li {
        display: flex;
        flex-direction: column;
        padding: 3px;
        margin-left: 45px;
        text-align: start;
        font-weight: 500;
        align-items: start;
    }

    .navbar-li a {
        display: block;
        font-size: 85px;
        padding: 32px;
    }

    .navbar-li li {
        position: relative;
        z-index: 999;
    }

    .navbar-li{
        position: relative;
        top: 8%;
    }

    .close {
        padding: 58px;
        position: relative;
        top: 0%;
        margin-left: 4px;
        font-size: 65px;
        color: #fffefd;
    }

    .hamburger-menu {
        display: block;
        font-size: 68px;
        position: relative;
        left: 8%;
        color: #fffefd;
    }

    /* about responsive */
    #about-us {
        width: 400%;
        min-height: 290vh;
    }

    .title {
        font-size: 59px;
        padding-top: 19px;
        margin-right: 90px;
    }

    .title::after {
        position: absolute;
        top: 100px;
        width: 7%;
        height: 9px;
        left: 45%;
    }

    .container-about {
        display: flex;
        flex-direction: column;
    }

    .about-image img {
        width: 780px;
        position: relative;
        right: 100px;
    }

    .deskrip-about {
        margin: 99px 9px 0 39px;
        display: flex;
        justify-content: center;
        position: relative;
        left: 90px;
    }

    .deskrip-about h2 {
        font-size: 67px;
    }

    .deskrip-about p {
        width: 80%;
        font-size: 48px;
    }

    .btn-follow {
        padding-top: 11px;
    }

    .btn-follow a {
        padding: 29px;
        width: 250px;
        font-size: 38px;
    }

    .feature-about i {
        font-size: 66px;
        padding: 16px 13px 0 0;
    }

    /* best seller */
   
    #best-seller {
        width: 400%;
        min-height: auto;
        background-color: #ffcca3;
    }
    #best-seller h2 {
        font-size: 59px;
        padding-top: 19px;
        position: relative;
        right: 3%
    }

    #best-seller h2::after {
        position: absolute;
        top: 100px;
        width: 150px;
        height: 9px;
        right: -90%;
    }

    .container-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        left: 10px;
        gap: 60px;
      
    }

    .img-card img {
        padding-top: 15px;
        width: 95%;
    }

    .card {
        width: 80%;
        height: auto;
        padding: 29px;

    }


    .deskrip h3 {
        font-size: 49px;
    }

    .deskrip p {
        font-size: 39px;
    }

    .feat-icon i {
        font-size: 38px;
    }

    .feat-icon a {
        width: 200px;
        font-size: 35px;
        padding: 11px;
        margin-bottom: 20px;
       
    }

    .feat-icon p {
        font-size: 38px;
    }

    #menu{
        width: 400%;
    }

    #menu h2{
        font-size: 59px;
        padding-top: 19px;
        position: relative;
        right: 3%

    }

    #menu h2::after{
        position: absolute;
        top: 100px;
        width: 150px;
        height: 9px;
        right: -90%;
    }

    .card-menu{
         width: 80%;
        height: auto;
        padding: 29px;
    }

    /* Responsive Contact */

    #Contact-Us{
        width: 400%;
        min-height:220vh;
    }

    #Contact-Us h2{
        font-size: 59px;
    }

    #Contact-Us h2::after{
        position: absolute;
        top: 100px;
        width: 150px;
        height: 9px;
    }

    .Container-contact {
        display: flex;
        flex-direction: column;
        padding-top: 18px;

    }

    .img-contact img{
        width: 780px;
    }

    .img-contact{
        position: relative;
        right: 120px;
    }

    .Feature-Contact i {
        font-size: 39px;
    }

    .contact-item span{
        font-size: 30px;
    }

    form{
        position: relative;
        right: 30px;
        margin-top: 60px;
    }

    form input{
        width: 799px;
        height: 80px;
        padding: 51px;
        font-size: 48px;
    }

    form label{
        font-size: 39px;
    }

    form input::placeholder{
        font-size: 43px;
    }

    form input:focus{
        font-size: 43px;
       padding-top: 40px;
       border: 4px solid rgb(94, 51, 21) ;
    }

    form textarea{
        height: 270px;
        padding: 24px;
        font-size: 43px;
    }

    form textarea::placeholder{
        font-size: 43px;
    }

    form textarea:focus{
        font-size: 48px;
        border: 4px solid rgb(94, 51, 21) ;
        padding: 20px;
    }

    form button{
        font-size: 38px;
        padding: 14px;
    }

    /* Responsive Galery */
    #Gallery{
        width: 400%;
        min-height: 180vh;
        
    }
    
    #Gallery h2{
        font-size: 59px;
    }

    .Container-gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        width: 150px;
       position: relative;
       right: 420px;

    }

    .main-galery{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #Gallery h2::after{
        position: absolute;
        top: 100px;
        width: 120px;
        height: 9px;
        left: 46%;
    }

    .Gallery img{
        width: 500px;
        height: 23rem;
    }
    /* Responsive Footer */
    footer{
        width: 400%;
        display: flex;
        justify-content: start;
    }
    .Container-footer{
        display: flex;
        flex-direction: column;
        margin: 0px 60px;
    }

    .logo-brand-footer img{
        width: 299px;
    }

    .logo-brand-footer h3{
        font-size: 55px;
    }
    
    .logo-brand-footer p {
        font-size: 39px;
    }

    .Menu-footer {
        position: relative;
        right: 230px;
    }
    .Menu-footer h3{
        font-size: 59px;
    }

    .Menu-footer a{
        font-size: 49px;
    }


    .Contact-Footer {
        position: relative;
        right: 10px;
        padding: 50px 0px;
    }
    .Contact-Footer h3{
        font-size: 59px;
    }

    .contact-foot i {
        font-size: 51px;
        padding: 19px 0px;
    }

    .dsk{
        font-size: 45px;
    }

    .Follow-Us-Footer{
        position: relative;
        right: 170px;
    }
    .Follow-Us-Footer h3{
        font-size: 52px;
    }

    .Follow-Us-Footer i {
        font-size: 53px;
        padding: 29px
    }

    /* responsive choping-card */
    .container-spc{
        width: 65%;
        height: 500vh;
        /* position: relative; */
    }

    .spc-card{
        margin-top: 19px;
        margin-bottom: 17px;
    }
    .bdy-card{
        /* position: relative; */
    }

    .img-spc img{
        height: 13rem;
        
        right: 85%;
    }

    .name-menu{
      left :44%;
    }

    .btn-qty{
        margin-top: 60px;
        width:  203px;
        min-height: 67px;
    }

    .bdy-card::after{
        width: 93%;
        height: 7px;
    }

    .btn-plus{
        width: 72px;
        padding: 2px;
        height: 69px;
    }

    .btn-plus i{
        font-size: 39px;
    }

    .btn-minus{
        width: 72px;
        height: 69px;
        padding: 2px;
    }

    .btn-minus i{
        font-size: 29px;
    }

    .qty-amount{
        padding-left: 24px;
        padding-right: 24px;
    }
    .number-qty{
        font-size: 39px;
        /* padding: 0px 20px; */
    }

    .name-menu h3{
        font-size: 49px;
        margin-bottom: 5px;
    }

    .price{
        font-size: 36px;
        position: relative;
        left: 10px;
    }

    .clear-card i{
       font-size: 34px;
       position: relative;
       bottom: 7px;
    }

    .clear-card{
        top: 60px;
       padding: 21px;
        height: 62px;
    }

    .result-price{
        font-size: 38px;
    }

    .btn-checkout{
        padding: 20px;
        font-size: 37px;
    }

    .close-spc{
        font-size: 50px;
        padding-left: 34px;
        padding-top: 27px;
    }
}